<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{_commun_/header :: head (title='Formulaire Utilisateur')}">
    <link rel="stylesheet" href="path/to/your/styles.css">
</head>
<body>
    <th:block th:replace="~{_commun_/header :: header}"></th:block>
    
    <div class="container mt-5">
        <div class="user-form-container">
            <h1 class="user-form-header" th:text="${user.id != null} ? 'Éditer Utilisateur' : 'Ajouter Utilisateur'">Formulaire Utilisateur</h1>  
            <form th:action="@{/users/save}" th:object="${user}" method="post" class="user-form">
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" id="nom" th:field="*{nom}" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input type="text" id="prenom" th:field="*{prenom}" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" th:field="*{email}" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="tel">Téléphone</label>
                    <input type="text" id="tel" th:field="*{tel}" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="mdp">Mot de Passe</label>
                    <input type="password" id="mdp" th:field="*{mdp}" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="role">Rôle</label>
                    <select id="role" th:field="*{role}" class="form-control">
                        <option th:each="role : ${T(com.mfgestion.model.User.Role).values()}" th:value="${role}" th:text="${role}">Role</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button> 
            </form>
        </div>
    </div>
    <footer th:replace="~{_commun_/footer :: footer}"></footer>
</body>
</html>
